body{
    background-image: linear-gradient(93deg, #262532, #18191f);
    padding-bottom:100px;
}

.bg-dark {
  background-image: linear-gradient(93deg, #262532, #18191f);
  box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 0.14);
}

.navbar {
  height: 60px;
  width: 100%;
  padding: 0;
  position: fixed;
  z-index: $zindex-fixed;
  top: 0;
}

.nav-item {
  @include nav-typog;
  @include subtle-right-border-dark;
}

a.nav-link {
  padding: 20px;
  margin: 0 35px 0 35px;
}

body {
  &::before {
    @include add-noise;
  }
}

table tr {

    th{
    @include card-heading;
    padding-bottom:35px;
    position: relative;

        &::after{
            content: " ";
            position: absolute;
            width:100%;
            height:1px;
            background: rgba(255,255,255,0.1);
            @include dim;
            top:40px;
            left:0;
        }
    }
    td{
        @include default-typog;
        padding-bottom:35px;

        a{
            @include default-typog;

            &:hover{
                color:$pink;
                text-decoration: none;
            }
        }
    }

}


.container {
  ul.nav {
    margin-top: 40px;
table tr {

    th{
    @include card-heading;
    padding-top:15px;
    padding-bottom:15px;
    position: relative;
    font-size:10px;
    @include dim;

        &::after{
            content: " ";
            position: absolute;
            width:100%;
            height:1px;
            background: rgba(255,255,255,0.25);
            @include dim;
            top:40px;
            left:0;
        }
    }
    td{
        @include default-typog;
        padding-bottom:35px;

        a{
            @include default-typog;

            &:hover{
                color:$pink;
                text-decoration: none;
            }
        }
    }

}

    .nav-item {
      border: 0;
      margin: 0;
      padding: 0;
    }
    a.nav-link {
      @include subnav-typog;
      padding: 0;
      margin: 0 25px 0 0;
    }
  }

 

    section{
        margin: 40px 0 0 0;
        position: relative;

        &::before{
            @include pretty-lines;
            background: $teal;
        }

        h1{
            @include heading;
            margin-bottom:20px;
        }

        h4{
            margin-bottom:25px;
        }

        .card{
            @include dark-box;
            @include default-typog;
            @include box-shadow;

            .card-body{
                span{
                    line-height:25px;
                }
            }

            .pie-legend{
                margin-left:30px;
            }

            h4{
                @include card-heading;
            }

            .card-header{
                @include card-heading;
                padding:0;
                border:0;
            }

            hr{
                background:$white;
                margin: 20px 0 20px 0;
                @include dim
                
            }

            .activity-center{
                width: 210px;
                margin: 0 auto;
            }

            

      h4 {
        @include card-heading;
      }

      .card-header {
        @include card-heading;
        padding: 0;
        border: 0;
      }

      hr {
        background: $white;
        margin: 20px 0 20px 0;
        @include dim;
      }

      .activity-center {
        width: 250px;
        margin: 0 auto;
      }

      .subtle-text {
        @include dim;
      }

      hr {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }


.my-data-page {
  h1 {
    color: $teal;
  }
}

.my-benefits-page section {
  h1 {
    color: $purple;
  }

    h1{
        color: $purple;
    }
 
    .card{
        @include dark-box;
        @include default-typog;
        @include box-shadow;

        h4{
            margin-bottom:10px;
            color:$purple;
        }
    }
    &::before{
        @include pretty-lines;
        background: $purple;
    }

    h4 {
      margin-bottom: 10px;
      color: $purple;
    }
  }
  


.my-insights-page section {
  h1 {
    color: $pink;
  }
  

  .card {
    h4 {
      display: inline;
    }
    
        @include dark-box;
        @include default-typog;
        @include box-shadow;
    
    &::before{
        @include pretty-lines;
        background: $pink;
    }

  }
}

.card-number-detail {
  @include default-typog;
  @include dim;
}


.card-number-detail{
    @include default-typog;
    @include dim;

.teal-plus{
    &::before{
        content: "+";
        position:absolute;
        top:0;
        left: -20px;
        height:8px;
        width: 8px;
        color: $teal;
        border-radius: 100%;
    }
}

.purple-plus{
    &::before{
        content: "+";
        position:absolute;
        top:0;
        left: -20px;
        height:8px;
        width: 8px;
        color: $purple;
        border-radius: 100%;
    }
}

.orange-plus{
    &::before{
        content: "+";
        position:absolute;
        top:0;
        left: -20px;
        height:8px;
        width: 8px;
        color: $orange;
        border-radius: 100%;
    }
}


.teal-bullet{
    &::before{
        content: " ";
        position:absolute;
        top:12px;
        left: -15px;
        height:8px;
        width: 8px;
        background: $teal;
        border-radius: 100%;
    }
}

.purple-bullet{
    &::before{
        content: " ";
        position:absolute;
        top:12px;
        left: -15px;
        height:8px;
        width: 8px;
        background: $purple;
        border-radius: 100%;
    }
}

.orange-bullet{
    &::before{
        content: " ";
        position:absolute;
        top:12px;
        left: -15px;
        height:8px;
        width: 8px;
        background: $orange;
        border-radius: 100%;
    }
}
.legend-table{
    margin-top:20px;
    width:200px;
    margin:35px auto 0 105px;
}
.legend-item{
    margin-bottom:25px;
    position: relative;
}

.legend-table {
  margin-top: 20px;
  width: 200px;
  margin: 35px auto 0 auto;
}
.legend-item {
  margin-bottom: 25px;
  position: relative;

  &::after {
    content: ' ';
    height: 1px;
    @include muted-white-fill;
    position: absolute;
    width: 50px;
    bottom: -10px;
    left: 0;
  }
}

.row {
  margin: 0 0 20px 0;
}

.color-emphasis {
  color: $pink;
}
.emphasis {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  @include card-number;
  margin: 0 0 0 10px;
  color: $pink;
}

.color-emphasis{
    color:$pink;
}
.emphasis{
    border:1px solid rgba(255,255,255,0.1);
    padding:15px;
    @include card-number;
    margin: 0 0 0 10px;
    color:$pink;
}

ul.recommend{
    margin-top:30px;
    margin-bottom: 30px;
}
.report-icon{
    position: relative;

    &::before{
        content: "\25AE";  /* this is your text. You can also use UTF-8 character codes as I do here */
        font-family: FontAwesome;
        left:-15px;
        position:absolute;
        top:0;
        color:$white;
        font-size:$normal-text;
        }
    }
  }

  .pie-legend{
    margin-left:35px;
  }
.card-number{
  @include card-number;
  position: relative;
}
.legend-item{
  margin-bottom:35px;
  position:relative;
  &::after{
    content:" ";
    height:1px;
    position:absolute;
    bottom:-25px;
    left:0;
    background:$white;
    opacity:0.2;
    width:75px;
  }
}

.standard-link{
    @include subheading-typog;
}









$aos-distance: 10px !default;
}