body{
    background-image: linear-gradient(93deg, #262532, #18191f);
    padding-bottom:100px;
  }


  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $darkgray; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $teal; 
}


*{
  outline:none;
}

.bg-dark {
  background-image: linear-gradient(93deg, #262532, #18191f);
  box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 0.14);
}

.navbar {
  height: 60px;
  width: 100%;
  padding: 0;
  position: fixed;
  z-index: $zindex-fixed;
  top: 0;
}

.nav-item {
  @include nav-typog;
  @include subtle-right-border-dark;
}

a.nav-link {
  padding: 20px;
  margin: 0 35px 0 35px;

  &:nth-child(1):hover{
    color:$teal;
  }
  &:nth-child(2):hover{
    color:$purple;
  }
  &:nth-child(3):hover{
    color:$pink;
  }
}

body {
  &::before {
    @include add-noise;
  }
}

table tr {

    th{
    @include card-heading;
    padding-bottom:35px;
    position: relative;

        &::after{
            content: " ";
            position: absolute;
            width:100%;
            height:1px;
            background: rgba(255,255,255,0.1);
            @include dim;
            top:40px;
            left:0;
        }
    }
    td{
        @include default-typog;
        padding-bottom:35px;

        a{
            @include default-typog;

            &:hover{
                color:$pink;
                text-decoration: none;
            }
        }
    }

}


.container {
  ul.nav {
    margin-top: 40px;
table tr {

    th{
    @include card-heading;
    padding-top:15px;
    padding-bottom:15px;
    position: relative;
    font-size:10px;
    @include dim;

        &::after{
            content: " ";
            position: absolute;
            width:100%;
            height:1px;
            background: rgba(255,255,255,0.25);
            @include dim;
            top:40px;
            left:0;
        }
    }
    td{
        @include default-typog;
        padding-bottom:35px;

        a{
            @include default-typog;

            &:hover{
                color:$pink;
                text-decoration: none;
            }
        }
    }

}

    .nav-item {
      border: 0;
      margin: 0;
      padding: 0;
    }
    a.nav-link {
      @include subnav-typog;
      padding: 0;
      margin: 0 25px 0 0;
    }
  }

 

    section{
        margin: 40px 0 0 0;
        position: relative;

        &::before{
            @include pretty-lines;
            background: $teal;
        }

        h1{
            @include heading;
            margin-bottom:20px;
            color:$teal;
        }

        h4{
            margin-bottom:25px;
        }

        .card{
            @include dark-box;
            @include default-typog;
            @include box-shadow;

            .card-body{
                span{
                    line-height:25px;
                }
            }

            .pie-legend{
                margin-left:30px;
            }

            h4{
                @include card-heading;
                display:inline-block;
            }

            .card-header{
                @include card-heading;
                padding:0;
                border:0;
            }

            hr{
                background:$white;
                margin: 20px 0 20px 0;
                @include dim
                
            }

            .activity-center{
                width: 210px;
                margin: 0 auto;
            }

            

      h4 {
        @include card-heading;
      }

      .card-header {
        @include card-heading;
        padding: 0;
        border: 0;
      }

      hr {
        background: $white;
        margin: 20px 0 20px 0;
        @include dim;
      }

      .activity-center {
        width: 250px;
        margin: 0 auto;
      }

      .subtle-text {
        @include dim;
      }

      hr {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.my-data-page {
  h1 {
    color: $teal;
  }
}


.my-insights-page section {

  h1{
    color:$pink;
  }
  
  &::before{
    @include pretty-lines;
    background: $pink;
}

  .card {
    h4 {
      display: inline;
    }
    
        @include dark-box;
        @include default-typog;
        @include box-shadow;
    
   

  }
}

.card-number-detail {
  @include default-typog;
  @include dim;
}


.teal-plus{
    &::before{
        content: "+";
        position:absolute;
        top:0;
        left: -20px;
        height:8px;
        width: 8px;
        color: $teal;
        border-radius: 100%;
    }
}

.purple-plus{
    &::before{
        content: "+";
        position:absolute;
        top:0;
        left: -20px;
        height:8px;
        width: 8px;
        color: $purple;
        border-radius: 100%;
    }
}

.orange-plus{
    &::before{
        content: "+";
        position:absolute;
        top:0;
        left: -20px;
        height:8px;
        width: 8px;
        color: $orange;
        border-radius: 100%;
    }
}


.teal-bullet{
    &::before{
        content: " ";
        position:absolute;
        top:12px;
        left: -15px;
        height:8px;
        width: 8px;
        background: $teal;
        border-radius: 100%;
    }
}

.purple-bullet{
    &::before{
        content: " ";
        position:absolute;
        top:12px;
        left: -15px;
        height:8px;
        width: 8px;
        background: $purple;
        border-radius: 100%;
    }
}

.orange-bullet{
    &::before{
        content: " ";
        position:absolute;
        top:12px;
        left: -15px;
        height:8px;
        width: 8px;
        background: $orange;
        border-radius: 100%;
    }
}
.legend-table{
    margin-top:20px;
    width:200px;
    margin:35px auto 0 105px;
}
.legend-item{
    margin-bottom:25px;
    position: relative;
}

.legend-table {
  margin-top: 20px;
  width: 200px;
  margin: 35px auto 0 auto;
}
.legend-item {
  margin-bottom: 25px;
  position: relative;

  &::after {
    content: ' ';
    height: 1px;
    @include muted-white-fill;
    position: absolute;
    width: 50px;
    bottom: -10px;
    left: 0;
  }
}

.row {
  margin: 0 0 20px 0;
}

.color-emphasis {
  color: $pink;
}
.emphasis {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  @include card-number;
  margin: 0 0 0 10px;
  color: $pink;
}

.color-emphasis{
    color:$pink;
}
.emphasis{
    border:1px solid rgba(255,255,255,0.1);
    padding:15px;
    @include card-number;
    margin: 0 0 0 10px;
    color:$pink;
}

ul.recommend{
    margin-top:30px;
    margin-bottom: 30px;
}
.report-icon{
    position: relative;

    &::before{
        content: "\25AE";  /* this is your text. You can also use UTF-8 character codes as I do here */
        font-family: FontAwesome;
        left:-15px;
        position:absolute;
        top:0;
        color:$white;
        font-size:$normal-text;
        }
    }


  .pie-legend{
    margin-left:35px;
  }
.card-number{
  @include card-number;
  position: relative;
}
.legend-item{
  margin-bottom:35px;
  position:relative;
  &::after{
    content:" ";
    height:1px;
    position:absolute;
    bottom:-25px;
    left:0;
    background:$white;
    opacity:0.2;
    width:75px;
  }
}

.standard-link{
    @include subheading-typog;
}









$aos-distance: 10px !default;

.text-white{
  @include card-number-heading;
}

.page-my-insights .container section h1{
    @include heading;
    margin-bottom:20px;
    color:$pink;

  }

  .page-my-insights .container section:before{
    background:$pink;
  }

.nav-logo{
  margin: 15px 10px 20px 20px;
}

.navbar-brand{
  @include subheading-typog;
}


.my-benefits-page section {
  h1 {
    color: $purple;

  }

 
    .card{
        @include dark-box;
        @include default-typog;
        @include box-shadow;

        h4{
            margin-bottom:10px;
            color:$purple;
        }
    }
    &::before{
        @include pretty-lines;
        background: $purple;
    }

    h4 {
      margin-bottom: 10px;
      color: $purple;
      display:block !important;
    }
  }
  

  .modal-dialog{

    .btn-primary{
      background:$yellow;
      color:$black;
      width:200px;
      height:60px;
      font-weight:bold;
      transition:0.2s all ease;
        &:hover{
          background:$white;
          transform: translate(-3px, -3px);
        }
    }
    .btn-secondary{
      background:transparent;
      border:2px solid $yellow;
      color:$yellow;
      width:200px;
      height:60px;
      font-weight:bold;
      transition:0.2s all ease;
        &:hover{
          color:$white;
          border:2px solid $white;
          transform: translate(-3px, -3px);
        }
    }

    .modal-footer{
      border-top:0;
    }
    .modal-header{
      border-bottom: 1px solid $yellow;
    }
    .purchase-confirmation{
      @include subheading-typog;
      color:$white;
      
      strong{
        @include subheading-typog;
      }
    }
 
  h5{
    h1{
      color:$yellow;
      @include heading-typog;
      font-weight:300;
      font-family: 'Gotham';
      text-transform: uppercase;
      font-size:$normal-text;

      
    }
  }
  }


  .modal-backdrop.show{
    opacity:0.9;
    background:$dark-gradient; 
  }
  
  .modal-content {
    position: relative;
    width: 100%;
    pointer-events: auto;
    border:0;;
    border-radius: 0;
    outline: 0;
    @include dark-box;
}

span.die{
  @include heading;
  color:$yellow !important;
  font-weight:300px;
font-size:$xxlarge-text;
}

