.research-wizard {
  .research-step-initialize {
    .summary-label, .summary-input, .summary-value, .summary-currency {
      display: inline-block;
      vertical-align: middle;
      width: auto;
      margin-right: 1rem;
    }

    .summary-label {
      color: #000;
      font-size: 1rem;
      width: 5.5rem;
    }

    .summary-input {
      width: 100px;
    }

    .summary-value {
      color: #ff007e;
      font-size: 2.625rem;
    }

    .summary-currency {
      color: #262532;
      font-size: 2.625rem;
    }
  }
}


.page-research,
.page-sample-selection,
.page-initialize{

.modal-backdrop.show{
  opacity:0.9
}
.modal-backdrop{
  background-color:#fff;
}

  .modal-dialog{
    margin: 150px auto 0 auto;
    max-width:560px;
    border:0;
    border-radius:0;
    @include light-box-shadow;
  }


  .purchase-confirmation__label{
    @include subheading-typog;
    color:$black;
    @include dim;
  }

  .purchase-confirmation__value{
    color:$black !important;
    @include default-typog;
  }
  .modal-content{
    padding:35px;
    @include light-box-shadow;
    border:0;

    .btn-primary{
      padding:25px;
      color:$white;
    }
    .modal-header{
      h5{
        h1{
        @include heading;
        color:$pink
        }
        span{
          @include subheading-typog;
          color:$pink;
        }
      }
    }
  }

      /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff !important; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $lightgray !important; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $pink !important; 
}



  .navbar-brand{
    
    color: $black;
  }
  .nav-item{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  background: #fff !important;


  .bg-dark {
    background: #fff !important;
    box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 0.14);
  }

 
  .nav-link{
    color:$black !important;
  }

  .progtrckr-doing {
    @include subtle-right-border-dark;
    margin-bottom:20px;
    color:$pink;
  }


}

.page-research{
  padding-top:100px;

  form{
    width:600px;
  }
  
  .card{
      @include light-box-shadow;
      @include light-box;
      padding:35px;

      label{
        @include card-heading;
        color:$black;
      }
  }


.nav-item-balance{
  background:#fff !important;
  
  .white-text,
  .text-white{
    color:$black !important;
  }
}

}

.progtrckr{
  width:630px;
  margin: 0 auto 30px auto;
  position: relative;
  left:35px;
  
  &::after{
    content:' ';
    height:1px;
    width:430px;
    background:$pink;
    position:absolute;
    bottom:23px;
    left:65px;
  }
}
.step-head{
  margin-bottom:35px;
  display:block;
}

.step-sub{
  @include subheading-typog;
  @include subnav-typog;
  color:$pink;
  display:block;
  margin-top:20px;
}
ol.progtrckr li{
  line-height:0;
  text-align:left;
  &:span{
    padding:0;
  }
}
ol.progtrckr li.progtrckr-doing{
  border-bottom:0;
  @include heading;
  color:$pink;
  position: relative;
  width:33.33%;
}

ol.progtrckr li.progtrckr-todo,
ol.progtrckr li.progtrckr-done{
  border-bottom:0;
  @include heading;
  color:$gray;
  position: relative;
  width:33.33%;
  .step-sub{
    color:$gray;
  }
}

ol.progtrckr li.progtrckr-done:before{
  color:$pink;
  background:$white;
  border:1px solid $pink;
  border-radius:100%;
  width:8px;
  height:8px;
  content: " ";
  position:absolute;
  bottom:0px;
  left:65px;
  z-index: 999;
}

ol.progtrckr li.progtrckr-doing:before{
  color:$pink;
  background:$pink;
  width:8px;
  height:8px;
  content: " ";
  position:absolute;
  bottom:0;
  left:65px;
}


ol.progtrckr li.progtrckr-todo:before{
  color:$pink;
  background:$white;
  border:1px solid $pink;
  border-radius:100%;
  width:8px;
  height:8px;
  content: " ";
  position:absolute;
  bottom:0px;
  left:65px;
  z-index: 999;
}

ol.progtrckr li.progtrckr-todo:after,
ol.progtrckr li.progtrckr-doing:after{
  display:none;
}





.btn-secondary,
.btn-primary{
  @include research-button;

    &::not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
      box-shadow: 0 0 0 3px rgba(0,0,0,0.1) !important;
    }
  
}

.form-control{
  border:0;
  @include light-box-shadow;
  padding:20px;
  @include default-typog;
  border-radius:0;
  color: $black;
  

  &:focus{
    color: $black;
    background-color: #fff;
    border:1px solid $lightgray;
    outline: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) !important;
  }
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
  border-radius:0;
  @include subheading-typog;
  color: $black;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: $black;
  background-color: $yellow;
  border:0;
  border-radius:0;
  @include subheading-typog;
}



.overflow-buttons{
  width:440px;
  margin-left:10px;
  
}


.btn-secondary{
  background:$white;
  color:$black;
}
.next-button{
  position: absolute;
  bottom:-55px;
  left:calc(50% - 170px);

  button{
  width:200px;
  height:50px;
  padding:20px;
  background:$pink;
  color:$white;
  position: relative;
  left:50px;
  }
}


.back-button{
  position: absolute;
  bottom:0px;
  left:calc(50% - 260px);
  color:$pink !important;
  width:200px;
  padding:20px;
  background:$white !important;
  border:2px solid $pink;
  height:50px;
  
}


.page-research .card {
  h4{
    @include subheading-typog;
    color:$black;
    text-align:center;
  }

  table tr th{

    @include subheading-typog;
    color:$black;
    text-align:center;
    opacity:0.75;
    font-size:10px;
    padding-right:40px;
  }
  table tr td, table tr td a{
    color:$black;
  }
  
}



.form-group{
  width:50%;
  @include subheading-typog;
  font-size:12px;
}

option{
  @include subheading-typog;
}

.submit-button{

  width:250px;
  height:60px;
  padding:20px;
  background:$pink;
  color:$white;
  position: absolute;
  left:calc(50% - 125px);
  bottom:-80px;
}

.results-div{
  overflow: auto;
  border:1px solid rgba(0, 0, 0, 0.1);
  height:500px;
  width:100%;
  padding:25px;
  margin-bottom:30px;


}

.min-val,
.max-val{
  width:120px !important;
}
